{% load loft_tags %}
{% get_categories_header as categories %}
<ul class="header__list _categories">
    {% for category in categories %}
    <li>
        <a href="{{ category.get_absolute_url }}" class="header__list-links">
            <span class="header__list-img">
                {% if category.image %}
                <img src="{{ category.get_image_category }}" alt="icons">
                {% endif %}
            </span>
            {{ category.title }}
        </a>
    </li>
    {% endfor %}
</ul>