{% extends 'base.html' %}
{% load static %}
{% load loft_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block main %}

<main class="main">
    <div class="container">
        <section class="basket">
            <div class="basket__text">
                <h1 class="basket__title">Ваша корзина</h1>
                <span class="basket__count"><span>{{ order.get_cart_total_quantity }}</span> предмета</span>
            </div>

            {% for item in products %}
            {% include 'loft/components/_order_cart.html' %}
            {% endfor %}

            <form class="products__form" action="{% url 'checkout' %}">
                <span>Итоговая стоимость: <span class="products__form-price">{% get_normal_price order.get_cart_total_price %} ₽</span> </span>
                <button class="btn products__form-btn" type="submit">Оформить заказ</button>
            </form>
        </section>
    </div>
    <!-- /.container -->
</main>

{% endblock main %}