{% extends 'base.html' %}
{% load loft_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block main %}


<main class="main">
    <div class="profile">
        <div class="container">
            <div class="profile__content">

                <form class="profile__form" enctype="multipart/form-data" method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <h2 class="profile__title">Личные данные</h2>
                    <div class="profile__form-grid">
                        <div class="input__title">
                            <h2>Имя</h2>
                            {{ edit_profile_form.first_name }}
                        </div>
                        <div class="input__title">
                            <h2>E-mail</h2>
                            {{ edit_profile_form.username }}
                        </div>
                        <div class="input__title">
                            <h2>Фамилия</h2>
                            {{ edit_profile_form.last_name }}
                        </div>
                        <div class="input__title">
                            <h2>Номер телефона</h2>
                            {{ edit_profile_form.phone_number }}
                        </div>
                        <div class="input__title">
                            <h2>Город</h2>
                            {{ edit_profile_form.city }}
                        </div>
                        <div></div>
                        <div class="input__title _span-two">
                            <h2>Улица</h2>
                            {{ edit_profile_form.street }}
                        </div>
                        <div class="input__title">
                            <h2>Дом/Корпус</h2>
                            {{ edit_profile_form.home }}
                        </div>
                        <div class="input__title">
                            <h2>Квартира</h2>
                            {{ edit_profile_form.house }}
                        </div>

                    </div>
                    <button class="btn profile__btn" type="submit">Изменить</button>

                    <a href="{% url 'logout' %}" class="btn profile__btn">Выйти с аккаунта</a>

                </form>

                {% include 'loft/components/_profile_order.html' %}


            </div>
        </div>
    </div>
</main>
{% endblock main %}