{% extends 'base.html' %}
{% load loft_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block main %}
<main class="main">
    <div class="registeration">
        <div class="container">
            <div class="registeration__content">
                <form class="registeration__form active" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 class="registeration__title products__title">Регистрация</h2>
                    <div class="registeration__form-grid">

                        <div class="input__title">
                            <h2>Имя</h2>
                            {{ form.first_name }}
                        </div>

                        <div class="input__title">
                            <h2>Фамилия</h2>
                            {{ form.last_name }}
                        </div>

                        <div class="input__title">
                            <h2>E-mail</h2>
                            {{ form.username }}
                        </div>

                        <div class="input__title">
                            <h2>Номер телефона</h2>
                            {{ form.phone_number }}
                        </div>

                        <div class="input__title">
                            <h2>Придумайте пароль</h2>
                            {{ form.password1 }}
                        </div>
                        <div class="input__title">
                            <h2>Подтвердить пароль</h2>
                            {{ form.password2 }}
                        </div>

                    </div>

                    <div class="registeration__btns">

                        <button class="btn registeration__btn" type="submit">Подтвердить</button>
                        <a href="{% url 'login' %}" class="registeration__links">Уже есть аккаунт? </a>
                    </div>

                    <button class="btn registeration__btn-login _revers" type="submit">Войти</button>

                </form>

            </div>
        </div>
    </div>
</main>

{% endblock main %}
