{% load static %}
{% load loft_tags %}

<div class="basket__items">
    <div class="basket__item">
        <a href="{{ item.product.get_absolute_url }}" class="basket__item-img">
            <img src="{{ item.product.get_image_product }}" alt="product">
        </a>
        <div class="basket__item-content">
            <div class="basket__item-text">
                <h2 class="basket__item-title">{{ item.product.title }}</h2>
                <p class="basket__item-price">
                    {% if item.product.discount %}
                    <span class="discount">
                    <i class="far fa-badge-percent"></i>
                    {{ item.product.discount }}%
                    </span>
                    <span class="old__price"><span>{% get_normal_price item.product.price %}</span>₽</span>
                    <span class="price"><span>{% get_normal_price item.product.get_price_by_discount %}</span>₽</span>
                    {% else %}
                    <span class="price"><span>{% get_normal_price item.product.price %}</span>₽</span>
                    {% endif %}
                </p>
            </div>
            <div class="basket__options">
                <p class="basket__options-color">
                    Цвет:
                    <span class="color__name">{{ item.product.color_name }}</span>
                    <span class="color__block" style="background:{{ item.product.color_code }}"></span>

                </p>
                <p class="basket__options-count">
                    Количество: <span>{{ item.quantity }}</span>
                </p>

                <p class="basket__options-size">
                    Размер(Ш×Д×В): <span>{{ item.product.size_width }} СМ × {{ item.product.size_long }} СМ × {{ item.product.size_height }} СМ</span>
                </p>

            </div>
        </div>

        <a href="{% url 'clear_cart_product' item.product.id %}" class="basket__delete">
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>


