{% load static %}
<div class="product__slider-content">

    <div class="sliderLines">
        <div class="product__slider-item active">
            <img src="{{ product.get_image_product }}" alt="banner"
                 class="product__slider-img">
        </div>


    </div>

    <div class="product__slider-panel">

        <ul class="product__slider-indicators">
            {% for image in product.get_all_images_product %}
            <li>
                <a href="{{ image }}" class="indicators__links active">
                    <img src="{{ image }}" alt="products">
                </a>
            </li>
            {% endfor %}


        </ul>
        {% if product.get_all_images_product %}
        <div class="product__slider-btns">
            <button class="btn__next">
                <img src="{% static 'loft/assets/icons/arrow-black.svg' %}" alt="arrow">
            </button>
            <button class="btn__prev">
                <img src="{% static 'loft/assets/icons/arrow-black.svg' %}" alt="arrow">
            </button>
        </div>
        {% endif %}
    </div>


</div>