{% load loft_tags %}
<div class="profile__orders">
    <h2 class="profile__title">Мои заказы</h2>

    <table class="profile__table">
        {% if products %}
        <tr>
            <td colspan="4">Товар</td>
            <td>Цена</td>
            <td>Дата</td>
            <td>Статус</td>
        </tr>

        {% for item in products|slice:"::-1"|slice:"4" %}

        <tr>
            <td colspan="4" class="profile__title-adaptive">
                <div class="tabel__item">
                    <img src="{{ item.product.get_image_product }}" alt="img">
                    <span>{{ item.product.title }}</span>
                </div>
            </td>
            <td class="profile__tabel-data">{% get_normal_price item.product.price %}</td>
            <td class="profile__tabel-data">{{ item.added_at }}</td>
            <td class="profile__tabel-data">Ожидается</td>
        </tr>
        {% endfor %}

        <!-- Не трогать - это заглушка для корректного отображения таблицы -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!-- Не трогать - это заглушка для корректного отображения таблицы -->
        {% else %}
        <span><a href="{% url 'index' %}" class="header__list-links">Вы ещё не покупали товар нажмите чтобы найти себе подходяшее предложение</a></span>
        {% endif %}
    </table>
    {% if products %}
    <a href="#!" class="profile__orders-link">Смотреть всё</a>
    {% endif %}
</div>